*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
nav{
    min-width: 100%;
    width: 100%;
    min-height:200px ;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.402);
    ;
}
.nav-top{
    min-width: 100%;
    width: 100%;
    display: flex;
     min-height: 50px;
     align-items: center;
     justify-content: space-around;
}
.nav-top img{
    max-width: 150px;
    max-height: 200px;
}
.nav-top ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
    gap: 1rem;
    padding: 2rem;
}

.nav-top ul li{
 list-style: none;
 color:rgb(108, 103, 103);
 font-weight: lighter;
 font-size: 20px;
}
.nav-top ul li:hover{
    color: #FF1919;
    cursor: pointer;

}
.logo{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
padding-top: 0.5rem;
}
.logo img{
    filter: saturate(100);

}
.menu{
    width: 100%;
}
.menu ul{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 20px;
  color:rgb(108, 103, 103);
}
.menu ul li:hover{
    color: #FF1919;
    cursor: pointer;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #DDD;
    min-height: 400px;
    max-height: 500px;
    transition: all 0.5s ease-in-out;
    min-width: 35%;
    overflow: hidden;
}
.box:hover{
   box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.402);
}
.img img{
    width: 19rem;
    height: 20rem;
    aspect-ratio: 5/9;
    animation: rotate ease-in ;
  transition: all 0.5s ease-in-out;
    
}
.img{
    min-height: 300px;
    object-fit: contain;
    overflow: hidden;
    padding: 0.5rem 0;
   
}
button{
    padding: 10px 30px;
    background-color: rgb(237, 111, 132);
    color: white;
    border: none;
    font-size: 20px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    min-width: 60%;
    width: 60%;
    gap: 2rem;
    
}
.box h1{
    color: rgb(97, 97, 97);
}
button:hover{
    color:rgb(237, 111, 132);
    background-color: transparent;
    border : 1px solid rgb(237, 111, 132);
    cursor: pointer;
    box-sizing:border-box;

}
.box:hover .img1{
    background-image: url(vibrant-orange-liquid-splash-on-a-reflective-surface-free-photo.jpg);
    background-position: center;
    background-size: cover;
}
.box:hover .img2{
    background-image: url(pexels-aulsh99-2860705.jpg);
    background-position: center;
    background-size: cover;
}
.box:hover .img3{
    background-image: url(images\ \(1\).jfif);
    background-position: center;
    background-size: cover;
}
.box:hover .img4{
    background-image: url(vibrant-orange-liquid-splash-on-a-reflective-surface-free-photo.jpg);
    background-position: center;
    background-size: cover;
}

.img img:hover{
transform: scale(1.1);
}